<% title "New scan" %>

<div id="scans">
    <div class="page-header">
        <h1>Start New Scan</h1>
    </div>

    <h3>Instructions:</h3>
    <p>Step 1: Enter the target URL.</p>
    <p>Step 2: Select the type of scan.</p>
    <p>Step 3: Provide basic information regarding the target URL and the type of scan.<p>
    <p>Step 4: Click "Go!" button.</p>
    <p>(Advanced options are optional.)</p>

    <br>

    <%= render 'form' %>
</div>
