<div class="row-fluid hidden-phone">
    <div class="span12">
        <h2>Issues Per Scan</h2>

        <% if @issues_per_scan.size > 1 %>
            <div id="trend-charts">
            </div>

            <script type="text/javascript">
                $.jqplot('trend-charts', [<%= @issues_per_scan.values %>], {
                    highlighter: {
                        show: true,
                        sizeAdjust: 7.5,
                        tooltipAxes: 'y',
                        formatString: '%s issues'
                    },
                    // Give the plot a title.
                    // You can specify options for all axes on the plot at once with
                    // the axesDefaults object.  Here, we're using a canvas renderer
                    // to draw the axis label which allows rotated text.
                    axesDefaults: {
                        labelRenderer: $.jqplot.CanvasAxisLabelRenderer
                    },
                    // An axes object holds options for all axes.
                    // Allowable axes are xaxis, x2axis, yaxis, y2axis, y3axis, ...
                    // Up to 9 y axes are supported.
                    axes: {
                        // options for each axis are specified in seperate option objects.
                        xaxis: {
                            label: "Scans",
                            // Turn off "padding".  This will allow data point to lie on the
                            // edges of the grid.  Default padding is 1.2 and will keep all
                            // points inside the bounds of the grid.
                            pad: 0
                        },
                        yaxis: {
                            label: "Issues",
                            min:    0
                        }
                    },
                    grid: {
                        drawBorder: false,
                        background: '#ffffff',
                        shadow: false
                    },
                    seriesDefaults: {
                        color: '#4572A7',
                        smooth: true
                    }
                });

            </script>
        <% else %>
            <p class="alert alert-info">
                Not scan performed yet. Please start a few scans and check back later.
            </p>
        <% end %>

        <div class="pagination">
            <a href="#">&laquo;</a>
            <a class="active" href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">&raquo;</a>
        </div>
    </div>	
</div>

<style>
.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #ddd;
}

.pagination a.active {
  background-color: #2478ff;
  color: white;
  border: 1px solid #4C0000;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.pagination a:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination a:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
</style>

<hr/>

<div class="row-fluid hidden-phone">
	<div class="span12">
        <h2>Your Activities</h2>

        <div id="activities">
            <%= render 'activities' %>

        <div class="pagination">
            <a href="#">&laquo;</a>
            <a class="active" href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">&raquo;</a>
        </div>

        </div>
    </div>
</div>

<hr/>

<div class="row-fluid hidden-phone">
	<div class="span12">
        <h2>Notifications</h2>

        <div id="notifications">
            <%= render 'notifications' %>

            <div class="pagination">
                <a href="#">&laquo;</a>
                <a class="active" href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#">&raquo;</a>
            </div>

        </div>
    </div>
</div>