<% title "New dispatcher" %>

<div id="dispatchers">

    <div class="page-header">
        <h1>Add New Dispatcher</h1>

        <div class="lead">
            Dispatchers are remote agents who provide you with instances
            in order to perform scans.
        </div>
    </div>

<%= render 'form' %>

</div>
